{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        commons-codec/commons-codec {:mvn/version "1.15"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
        org.bouncycastle/bcpkix-jdk15on {:mvn/version "1.70"}
        clj-http/clj-http {:mvn/version "3.12.3"}}}
